/*      Header      */
.header {
  width: 100%;
  display: flex;
}
.my-photo {
  width: 40%;
}
.my-photo img {
  width: 100%;
  margin-top: 100px;
}

/*      Header-Content      */
.header-content {
  width: 60%;
  margin: 20px;
  font-size: 22px;
}
.header-content-name {
  margin-bottom: 70px;
}
.header-content-description {
  background-color: #E70000;
  padding: 20px;
}
.header-content-age {
  background-color: #FF8C00;
  padding: 20px;
}
.header-content-agePlace {
  background-color: #FFEF00;
  padding: 20px;
}
.header-content-licenseCar {
  background-color: #00811F;
  padding: 20px;
}
.header-content-ownCar {
  background-color: #3064A9;
  padding: 20px;
}
.header-content-email {
  background-color: #87189D;
  padding: 20px;
}





section {
  margin: 10px;
}

.section-header {
  cursor: pointer;
}

.experience,
.studies {
  display: none;
}

.active {
  display: block;
  background-color: azure;
  padding: 10px;
}






/*      Footer      */
footer {
  background-color: #bdbcb4;
  height: 5rem;
  display: flex;
  align-items: center;
}
footer ul li {
  display: inline;
}
footer ul li a {
  text-decoration: none;
  padding: 2.9rem 2.9rem 2.9rem 0;
}
.fa-google, .fa-stack-overflow, .fa-gitlab, .fa-github, .fa-bitbucket, .fa-codepen, .fa-jsfiddle, .fa-linkedin, .fa-facebook, .fa-twitter, .fa-instagram, .fa-telegram, .fa-whatsapp, .fa-youtube, .fa-twitch, .fa-vk, .fa-medium, .fa-reddit-alien {
  color: rgb(0, 0, 0);
}
.fa-google:hover, .fa-stack-overflow:hover, .fa-gitlab:hover, .fa-github:hover, .fa-bitbucket:hover, .fa-codepen:hover, .fa-jsfiddle:hover, .fa-linkedin:hover, .fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-telegram:hover, .fa-whatsapp:hover, .fa-youtube:hover, .fa-twitch:hover, .fa-vk:hover, .fa-medium:hover, .fa-reddit-alien:hover {
  color: darkorange;
}